* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  margin-bottom: 5px;
}

#logo {
  height: 7rem;
}

.catagories-container {
  display: flex;
}

.nav-catagory {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-left: 18px;
  padding: 0px 12px;
  white-space: pre;
}

.icons-container {
  display: flex;
}
.nav-icon {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  font-size: 25px;
}
